@c_lordColor : #e94f4f;
@c_headerColor:#000;
@c_headerbgColor:#fff;
@c_KnockColor : #e94f4f;
@c_btnColor : #e94f4f;
@c_buttonBgColor: #ccc;
@c_buttonOkBgColor: #e94f4f;
@c_buttonHoverBgColor: #d43228;  //  用了
@c_gray : #b2b2b2;
@c_darkgray : #909090;
@c_black : #222;
@c_white : #fff;